services:
  mongo:
    image: mongo:8.0
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: EasyGenTaskDB
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    container_name: nest_backend
    restart: unless-stopped
    env_file:
      - ./backend/.env.production
    depends_on:
      - mongo
    ports:
      - "3005:3000"
    volumes:
      - ./-backend_logs:/app/StorageFolder/Logs

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  mongo-data:


